.bookCard {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 1rem;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center content horizontally */
  justify-content: space-between;
  min-height: 350px; /* Set a minimum height instead */
}

.bookCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.bookCover {
  width: 150px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}
.noCover {
  width: 100%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* Space between elements */
  width: 100%;
}

.title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
  /* color: #2d3748; */
  line-height: 1.4;
  transition: color 0.2s ease;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bookCard:hover .title:hover {
  color: seagreen; /* Blue highlight on hover */
}

.author {
  font-size: 1rem;
  margin: 0;
  color: #4a5568;
  font-weight: 500;
}

.year {
  font-size: 0.9rem;
  margin: 0;
  color: #718096;
  background: #f7fafc;
  padding: 4px 8px;
  border-radius: 12px;
  display: inline-block;
  width: fit-content;
  font-weight: 600;
}

.favorite,
.save {
  border-radius: 50%;
  padding: 8px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
