@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");

.header {
  margin: 0;
  padding: 0;
  height: clamp(60px, 20vh, 150px);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  background: transparent;
  z-index: 10;
  width: 100%;
}

.header {
  position: absolute;
  top: 0;
}

.logo {
  /* color: #fdf5e6; cream */
  font-family: "Cormorant Unicase", serif;
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);  for readability */
}
