@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap");

.header {
  margin: 0;
  padding: 0;
  height: clamp(60px, 20vh, 150px);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 2rem;
  z-index: 10;
  width: 100%;
  background-color: #0b3c32;
}

.logo {
  width: 30%;
  color: cornsilk;
  font-family: "Cormorant Unicase", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo img {
  height: 80%;
}

.navigation {
  height: 100%;
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: cornsilk;
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 5px;
  /* transition: all 0.3s ease-in-out; */
}

/* a:hover {
  color: gold;
  animation: pulseOnly 1s ease-in-out infinite;
}

.library:hover {
  animation: pulse 1s ease-in-out infinite;
  color: gold;
}

.library:active {
  transform: scale(0.9);
} */

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 cornsilk;
  }
  70% {
    transform: scale(1.05);
    box-shadow: 0 0 0 10px rgba(255, 248, 220, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 248, 220, 0);
  }
}

@keyframes pulseOnly {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .header {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    height: auto;
  }

  .logo {
    font-size: 0.8rem;
  }

  .logo {
    height: 4rem;
    order: -1;
  }
}

.library {
  color: cornsilk;
  position: relative;
}

.library::after,
.library::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, gold, orange);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.library::before {
  top: -5px;
  transform-origin: left;
}

.library:hover::after,
.library:hover::before {
  transform: scaleX(1);
}
